<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="MdsKYHhoPYE3hrLxxiAN2lZgsU2iqql3QI1oMxPkTjM" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kiddos</title>
</head>

<body>
    <div class="main">
        <div class="nav fixed-top">
            <nav class="navbar navbar-expand-lg navbar-dark m-auto w-100 fixed-top">
                <div class="container">
                    <button class="navbar-toggler border-0 bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <ion-icon name="menu" style="width: 1.8rem;height:1.8rem"></ion-icon>
                </button>
                    <a class="navbar-brand" href="#header">Kiddos</a>
                    <div class="collapse navbar-collapse w-100" id="navbarNavAltMarkup">
                        <div class="navbar-nav ml-auto text-center">
                            <a class="nav-item nav-link text-white border-0" href="#feature">Fitur</a>
                            <a class="nav-item nav-link text-white border-0" href="/login">Masuk</a>
                            <a class="nav-item px-4 nav-link neon-box a rounded-pill" href="/register">Buat Akun</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- End-Navbar -->
        <!-- Content-Head -->
        <header class="header h-full wipe-in" id="header">
            <div class="container pt-1 text-light d-flex">
                <div class="col-lg-8">
                    <div class="pt-5 mt-5 bg-transparent ">
                        <p class="mt-5 display-4">Pantau Penggunaan Smartphone Anak Anda Bersama Kami</p>
                    </div>
                    <h6 class="lead mt-3">Kiddos membantu Orang tua untuk selalu sedia memantau penggunaan smartphone anak di mana pun dan kapan pun</h6>
                    <div class="d-inline-flex w-100 mt-5 mx-auto">
                        <a class="btn neon-box text-center font-weight-bolder text-white a mt-3 flex-wrap" href="#">Coba Gratis</a>
                        <a class="btn neon-box text-center font-weight-bolder text-white a mt-3 flex-wrap" href="#">Fitur Kami</a>
                    </div>
                </div>
                <div class="col-4 home-image">
                    <img src="./image/home-image.png" class="home-image">
                </div>
            </div>
            <!-- End-Content-Head -->
        </header>
        <!-- End-Header -->
        <!-- Feature -->
        <main class="container-fluid py-5 h-full" id="feature">
            <div class="container text-center">
                <h1><strong>Fitur - Fitur Kami</strong></h1>
                <div class="text-center feature">
                    <ul class="row py-xl-5 px-0">
                        <li class="col-xl-4">
                            <div>
                                <img src="./image/button.svg" alt="fitur 1" class="feature-img">
                                <h4>History Terbaru Anak</h4>
                                <p>Cek history terbaru penggunaan aplikasi pada smartphone anak</p>
                            </div>
                        </li>
                        <li class="col-xl-4">
                            <div>
                                <img src="./image/clock.svg" alt="fitur 1" class="feature-img">
                                <h4>Lama Pemakaian</h4>
                                <p>Pantau berapa lama anak Anda menggunakan setiap aplikasi di smartphone mereka</p>
                            </div>
                        </li>
                        <li class="col-xl-4">
                            <div>
                                <img src="./image/map.svg" alt="fitur 1" class="feature-img">
                                <h4>Pantau Lokasi</h4>
                                <p>Temukan lokasi terakhir anak Anda</p>
                            </div>
                        </li>
                    </ul>
                    <ul class="row py-xl-5 px-0">
                        <li class="col-xl-4">
                            <div>
                                <img src="./image/monitoring.png" alt="fitur 1" class="feature-img">
                                <h4>Batasi Penggunaan</h4>
                                <p>Batasi durasi penggunaan smartphone anak</p>
                            </div>
                        </li>
                        <li class="col-xl-4">
                            <div>
                                <img src="./image/forbidden.svg" alt="fitur 1" class="feature-img">
                                <h4>Blokir Aplikasi</h4>
                                <p>Blokir aplikasi smartphone anak yang kurang berguna atau mencurigakan</p>
                            </div>
                        </li>
                        <li class="col-xl-4">
                            <div>
                                <img src="./image/cctv.svg" alt="fitur 1" class="feature-img">
                                <h4>Rekam Layar</h4>
                                <p>Rekam layar aplikasi smartphone anak ketika dibuka</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <!-- End-Feature -->
        {{!-- Footer --}}
        <footer class="container-fluid py-5 h-full bg-purple text-white" id="about">
            <div class="container text-center">
                <div class="text-center my-sm-5">
                    <ul class="row py-xl-5 px-0">
                        <li class="col-xl-4">
                            <div>
                                <h1 class="navbar-brand">Kiddos</h1>
                            </div>
                        </li>
                        <li class="col-xl-4">
                            <h3 class="text-left ml-4 pt-3"><strong>
                                Halaman
                            </strong>
                            </h3>
                            <div>    
                                <ul>
                                    <li class="text-left"><a href="#feature" class="card-link text-light">Fitur</a></li>
                                    <li class="text-left"><a href="/register" class="card-link text-light">Daftar Sekarang</a></li>
                                    <li class="text-left"><a href="#" class="card-link text-light">Tentang Kami</a></li>
                                    <li class="text-left"><a href="#" class="card-link text-light">FAQ</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="col-xl-4">
                            <h3 class="text-left ml-4 pt-3"><strong>
                                Our Social Media
                            </strong></h3>
                            <div>    
                                <ul class="row d-flex">
                                    <li class="text-left w-5rem pl-3"><a href="https://www.facebook.com"><img src="./image/facebook.svg" class="w-100"></a></li>
                                    <li class="text-left w-5rem pl-3"><a href="https://www.instagram.com"><img src="./image/instagram-sketched.svg" class="w-100"></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="mt-5 pt-5 ml-n5">
                        <h6>©2020. Kiddos - Proyek TA STMIK Mikroskil</h6>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    {{!-- End-Footer --}}
    {{!-- Script --}}
    <script src="./js/jquery.js"></script>
    <script src="./js/home.js" type="module"></script>
    <script src="./css/bootstrap-4.4.1-dist/js/bootstrap.min.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    </body>
</html>