<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Masuk Kiddos</title>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script src="./js/jquery.js"></script>
    <script src="./js/login.js" type="module"></script>
    <style>
        body {
            background: url('./image/bg-1.png') no-repeat;
            background-size:cover;
        }
    </style>
</head>
<body background="./image/bg-1.png">
    <div class="nav fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark m-auto w-100 fixed-top bg-purple">
            <div class="container">
                <a class="navbar-brand text-light" href="/">Kiddos</a>
            </div>
        </nav>
    </div>
    <form class="h-full d-flex justify-content-center align-items-center" id="login">
        <div class="box col-xl-6 px-xl-5 py-5 bg-white" role="document">
                <div class="modal-content text-dark bg-transparent text-center px-xl-5">
                    <h3 class="modal-title pb-3 font-weight-bolder">Masuk ke Kiddos</h3>
                    <div class="text-center border-0">
                    </div>
                    <div class="modal-body text-white mt-3 px-xl-5">
                        <div class="form-group">
                            <input type="text" class="form-control" id="user-email" required=""/>
                            <label for="user-email" class="col-form-label text-dark">Email</label>
                        </div>
                        <div><p style='color:red;' id="email-err" class="d-none">Email tidak boleh kosong</p></div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="user-password" required=""></input>
                            <label for="user-password" class="col-form-label text-dark">Kata Sandi</label>
                        </div>
                        <div><p style='color:red;' id="pass-err" class="d-none">Kata Sandi tidak boleh kosong</p></div>
                        <div class="text-right mr-3 pb-3"><p><a href="/forgotPassword" class="card-link">Lupa Kata Sandi?</a></p></div>
                        <div class="modal-footer border-0 d-flex justify-content-center pb-2">
                            <input class="btn btn-primary w-100 rounded-pill mt-n3" type="submit" value="Masuk"></input>
                        </div>
                        <div class="d-flex justify-content-center"><p class="text-dark">Belum punya akun?&nbsp;</p><p><a href="/register" class="card-link"> Daftar Sekarang</a></p></div>
                    </div>
                </div>
            </div>
    </form>
    <script src="./css/bootstrap-4.4.1-dist/js/bootstrap.min.js" defer></script>
</body>
</html>